{% extends "layouts/shdf.html" %}

{% block pageTitle %}
  Confirmation of new property – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "New property added",
        text: data['addressLine1']+data['addressLine2']+data['addressTown']+data['addressCounty']+data['addressPostcode']
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We've increased your 'Properties assessed' KPI by one property.
      </p>

      <p>
        You can now find this property in your property list where you can edit it. Keep the status of the property up-to-date to ensure your KPIs are ready for each monthly report.
      </p>
      <p>
        <a href="list.html">
          Go to your SHDF properties
        </a>
      </p>


    </div>
  </div>

{% endblock %}
