{% extends "layouts/shdf.html" %}

{% block pageTitle %}
  Add property details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<!-- COMPONENTS INCLUDED -->
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- CONTENT START -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        SHDF property details
      </h1>

      <form class="form" action="new-individual-measures" method="post">
        <!-- SET STATUS -->
        {{ govukSelect({
          id: "status",
          name: "status",
          value: data['status'],
          label: {
            text: "Property status:"
          },
          hint: {
            text: "The status will be use to generate KPI figures in monthly reports"
          },
          items: [
            {
              value: "assessed",
              text: "Assessed",
              selected: true
            },
            {
              value: "tenant-engaged",
              text: "Tenant engaged"
            },
            {
              value: "started",
              text: "Started"
            },
            {
              value: "install-complete",
              text: "Install complete"
            },
            {
              value: "handed-over",
              text: "Handed over"
            },
            {
              value: "withdrawn",
              text: "Withdrawn"
            }
          ]
        }) }}

        <div class="govuk-!-margin-top-8">
          <h2 class="govuk-heading-m">About the property</h2>

          <!-- ARCHETYPE -->
          {{ govukSelect({
            id: "archetype",
            name: "archetype",
            value: data['archetype'],
            label: {
              text: "Property archetype:"
            },
            items: [
              {
                value: "choose",
                text: "Choose archetype",
                selected: true
              },
              {
                value: "Detached",
                text: "Detached"
              },
              {
                value: "Semi-detached",
                text: "Semi-detached"
              },
              {
                value: "End-terrace",
                text: "End-terrace"
              },
              {
                value: "Mid-terrace",
                text: "Mid-terrace"
              },
              {
                value: "Park Home",
                text: "Park home"
              },
              {
                value: "Flat - High rise",
                text: "Flat - High rise"
              },
              {
                value: "Flat - Medium rise",
                text: "Flat - Medium rise"
              },
              {
                value: "Flat - Low rise",
                text: "Flat - Low rise"
              },
              {
                value: "Other",
                text: "Other"
              }
            ]
          }) }}

          <!-- ON/OFF GAS -->
          {{ govukRadios({
            name: "onOffGas",
            value: data['onOffGas'],
            fieldset: {
              legend: {
                text: "On or off the gas grid:"
              }
            },
            items: [
              {
                value: "On gas grid",
                text: "On gas grid"
              },
              {
                value: "Off gas grid",
                text: "Off gas grid"
              }
            ]
          }) }}

          <!-- PRE-INSTALL HEATING FUEL -->
          {{ govukSelect({
            id: "fuel-source",
            name: "fuelSource",
            value: data['fuelSource'],
            label: {
              text: "Pre-installation heating fuel source:"
            },
            items: [
              {
                value: "choose",
                text: "Choose heating fuel source",
                selected: true
              },
              {
                value: "Coal",
                text: "Coal"
              },
              {
                value: "Oil",
                text: "Oil"
              },
              {
                value: "Bulk LPG",
                text: "Bulk LPG"
              },
              {
                value: "Bottled LPG",
                text: "Bottled LPG"
              },
              {
                value: "Electricity",
                text: "Electricity"
              },
              {
                value: "Biomass",
                text: "Biomass"
              },
              {
                value: "No heating system",
                text: "No heating system installed"
              }
            ]
          }) }}
        </div>

        <div class="govuk-!-margin-top-8">
          <h2 class="govuk-heading-m">SAP scores</h2>

          <!-- PRE-INSTALL SAP -->
          {% call govukFieldset({
            legend: {
              text: "Pre-installation SAP",
              classes: "govuk-fieldset__legend--s"
            }
          }) %}

            {{ govukInput({
              label: {
                text: "Score"
              },
              classes: "govuk-input--width-10",
              id: "pre-score",
              name: "preScore",
              autocomplete: "pre-score",
              spellcheck: false,
              value: data['preScore']
            }) }}

            {{ govukInput({
              label: {
                text: "Certificate number"
              },
              id: "pre-certificate-number",
              name: "preCertificateNumber",
              autocomplete: "pre-certificate-number",
              inputmode: "numeric",
              spellcheck: false,
              value: data['preCertificateNumber']
            }) }}

          {% endcall %}

          <!-- POST-INSTALL SAP -->
          <!-- SHOULD BE REQUIRED IS THE STATUS IS CHANGED TO 'COMPLETE'-->
          {% call govukFieldset({
            legend: {
              text: "Post-installation SAP",
              classes: "govuk-fieldset__legend--s"
            }
          }) %}

            {{ govukInput({
              label: {
                text: "Score (optional)"
              },
              classes: "govuk-input--width-10",
              id: "post-score",
              name: "postScore",
              autocomplete: "post-score",
              spellcheck: false,
              value: data['postScore']
            }) }}

            {{ govukInput({
              label: {
                text: "Certificate number (optional)"
              },
              id: "post-certificate-number",
              name: "postCertificateNumber",
              autocomplete: "post-certificate-number",
              inputmode: "numeric",
              spellcheck: false,
              value: data['postCertificateNumber']
            }) }}

          {% endcall %}

        </div>

        <div class="govuk-!-margin-top-5">
          <h2 class="govuk-heading-m">Tenancy</h2>
          
          <!--TENURE TYPE-->
          {{ govukRadios({
            name: "tenureType",
            value: data['tenureType'],
            fieldset: {
              legend: {
                text: "Tenure type:"
              }
            },
            items: [
              {
                value: "Owner occupied",
                text: "Owner occupied"
              },
              {
                value: "Private rented",
                text: "Private rented"
              },
              {
                value: "Social rented",
                text: "Social rented"
              }
            ]
          }) }}

          <!-- PN issued -->
          {{ govukCheckboxes({
            name: "PN",
            classes: "govuk-checkboxes--small",
            value: data['PN'],
            fieldset: {
              legend: {
                text: "Has the occupant has been issued with a privacy notice?"
              }
            },
            items: [
              {
                value: "Issued",
                text: "Yes"
              },
              {
                value: "Not issued",
                text: "No"
              }
            ]
          }) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-inset-text">
        <p class="govuk-body-l"><strong>Address:</strong> {{ data['addressLine1'] }}, {{ data['addressLine2'] }} {{ data['addressTown'] }}, {{ data['addressCounty'] }} {{ data['addressPostcode'] }}</p>
        <p class="govuk-body-s"><strong>UPRN:</strong> 123456789</p>
        <p class="govuk-body-s"><strong>Scheme:</strong> Social Housing and Decarbonisation Fund (SHDF)</p>
      </div>
    </div>
  </div>

{% endblock %}
