{% extends "layouts/hug.html" %}

{% block pageTitle %}
  HUG Properties – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        HUG properties
      </h1>

      <a href="add.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Add properties</a>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        html: "
        <form class='form' action='/path/of/next/page' method='post'>
            <fieldset class='govuk-fieldset govuk-grid-row'>
              <legend class='govuk-fieldset__legend'>
                Find a property:
              </legend>
              <div class='govuk-form-group'>
                <label class='govuk-label' for='address-first-line'>
                  First line of the address
                </label>
                <input class='govuk-input govuk-input--width-20' id='address-first-line' name='address-first-line' type='text'>
              </div>
              <div class='govuk-form-group'>
                <label class='govuk-label' for='address-first-line'>
                  Postcode
                </label>
                <input class='govuk-input govuk-input--width-10' id='address-first-line' name='address-first-line' type='text'>
              </div>
            </fieldset>
          <button type='submit' class='govuk-button govuk-button--secondary' data-module='govuk-button'>
            Find
          </button>
        </form>
        "
      }) }}

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Current properties (32)",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        classes: "govuk-table--small-text-until-tablet",
        head: [
          {
            text: "First line address"
          },
          {
            text: "Postcode"
          },
          {
            text: "Date added"
          },
          {
            text: "Batch ID",
            format: "numeric"
          },
          {
            text: "Status"
          },
          {
            text: "Edit"
          }
        ],
        rows: [
          [
            {
              text: "10 New Street"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "10 Oct 2024"
            },
            {
              text: "3",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--purple'>
                Validated
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "20 Dummy Road"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "10 Oct 2024"
            },
            {
              text: "3",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--light-blue'>
                Assessed
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "12 Testing Lane"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "10 Oct 2024"
            },
            {
              text: "3",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--blue'>
                Started
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "13 Testing Lane"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "30 Sept 2024"
            },
            {
              text: "2",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--turquoise'>
                Treated
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "14 Testing Lane"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "30 Sept 2024"
            },
            {
              text: "2",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green'>
                Completed
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "15 Testing Lane"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "24 Sept 2024"
            },
            {
              text: "1",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red'>
                Withdrawn
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "7 Placeholder Drive"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "24 Sept 2024"
            },
            {
              text: "1",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--blue'>
                Started
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "8 Placeholder Drive"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "24 Sept 2024"
            },
            {
              text: "1",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--blue'>
                Started
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "9 Placeholder Drive"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "24 Sept 2024"
            },
            {
              text: "1",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--blue'>
                Started
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ],
          [
            {
              text: "10 Placeholder Drive"
            },
            {
              text: "AB1 2YZ"
            },
            {
              text: "24 Sept 2024"
            },
            {
              text: "1",
              format: "numeric"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--blue'>
                Started
              </strong>"
            },
            {
              html: "<a href='#' class='govuk-link'>Edit</a>"
            }
          ]
        ]
      }) }}

      {% from "govuk/components/pagination/macro.njk" import govukPagination %}

      {{ govukPagination({
        previous: {
          href: "#"
        },
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            current: true,
            href: "#"
          },
          {
            number: 2,
            href: "#"
          },
          {
            number: 3,
            href: "#"
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
