{% extends "layouts/hug.html" %}

{% block pageTitle %}
  Proposed measures – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-individual-check" method="post">

          <!-- FULL LIST TBC -->
          {{ govukSelect({
            id: "measure1",
            name: "measure1",
            value: data['measure1'],
            label: {
              text: "Add proposed measures",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            },
            items: [
              {
                value: "choose",
                text: "Choose measure type",
                selected: true
              },
              {
                value: "Cavity Wall Insulation",
                text: "Cavity Wall Insulation"
              }
              ,
              {
                value: "External Wall Insulation",
                text: "External Wall Insulation"
              }
              ,
              {
                value: "Internal Wall Insulation",
                text: "Internal Wall Insulation"
              }
              ,
              {
                value: "Loft Insulation",
                text: "Loft Insulation"
              }
              ,
              {
                value: "Flat Roof Insulation",
                text: "Flat Roof Insulation"
              }
              ,
              {
                value: "Room in Roof Insulation",
                text: "Room in Roof Insulation"
              }
              ,
              {
                value: "Underfloor Insulation: solid floor",
                text: "Underfloor Insulation: solid floor"
              }
              ,
              {
                value: "Underfloor Insulation: suspended floor",
                text: "Underfloor Insulation: suspended floor"
              }
              ,
              {
                value: "Park Home Insulation",
                text: "Park Home Insulation"
              }
              ,
              {
                value: "Air Source Heat Pump",
                text: "Air Source Heat Pump"
              }
              ,
              {
                value: "Ground Source Heat Pump",
                text: "Ground Source Heat Pump"
              }
              ,
              {
                value: "High Temperature Heat Pump",
                text: "High Temperature Heat Pump"
              }
              ,
              {
                value: "Biomass Boiler",
                text: "Biomass Boiler"
              }
              ,
              {
                value: "Solar Thermal",
                text: "Solar Thermal"
              }
              ,
              {
                value: "Electric Storage Heating",
                text: "Electric Storage Heating"
              }
              ,
              {
                value: "Low Carbon District Heating",
                text: "Low Carbon District Heating"
              }
              ,
              {
                value: "Heating Controls",
                text: "Heating Controls"
              }
              ,
              {
                value: "Hot Water Cylinder Insulation",
                text: "Hot Water Cylinder Insulation"
              }
              ,
              {
                value: "Hot Water Cylinder Thermostats",
                text: "Hot Water Cylinder Thermostats"
              }
              ,
              {
                value: "Double Glazing",
                text: "Double Glazing"
              }
              ,
              {
                value: "Triple Glazing",
                text: "Triple Glazing"
              }
              ,
              {
                value: "Low Carbon Communal Heat Network",
                text: "Low Carbon Communal Heat Network"
              }
              ,
              {
                value: "Draught Proofing",
                text: "Draught Proofing"
              }
              ,
              {
                value: "Energy Efficient Doors and Windows",
                text: "Energy Efficient Doors and Windows"
              }
              ,
              {
                value: "Secondary Glazing",
                text: "Secondary Glazing"
              }
              ,
              {
                value: "Solar PV",
                text: "Solar PV"
              }
              ,
              {
                value: "Energy Efficient Lighting",
                text: "Energy Efficient Lighting"
              }
              ,
              {
                value: "Digital/Smart Controls",
                text: "Digital/Smart Controls"
              }
              ,
              {
                value: "Battery Storage",
                text: "Battery Storage"
              }
            ]
          }) }}

          <!-- ADD ANOTHER MEASURE -->
          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "anotherMeasure",
            value: data['anotherMeasure'],
            fieldset: {
              legend: {
                text: "Do you need to add another measure?"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Add another measure",
            classes: "govuk-button--secondary"
          }) }}

          <div class="govuk-button-group govuk-!-margin-top-8">
            {{ govukButton({
              text: "Continue"
            }) }}
  
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary"
            }) }}
          </div>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-inset-text">
        <p class="govuk-body-l"><strong>Address:</strong> {{ data['addressLine1'] }}, {{ data['addressLine2'] }} {{ data['addressTown'] }}, {{ data['addressCounty'] }} {{ data['addressPostcode'] }}</p>
        <p class="govuk-body-s"><strong>UPRN:</strong> 123456789</p>
        <p class="govuk-body-s"><strong>Scheme:</strong> Home Upgrade Grant (HUG)</p>
      </div>
    </div>

  </div>

{% endblock %}
