{% extends "layouts/lad.html" %}

{% block pageTitle %}
  Add property details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<!-- COMPONENTS INCLUDED -->
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- CONTENT START -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        LAD property details
      </h1>

      <div class="govuk-inset-text">
        <p class="govuk-body-l"><strong>Address:</strong> 10 New Street, Nottingham, AB1 2YZ</p>
        <p class="govuk-body-s"><strong>UPRN:</strong> 123456789</p>
        <p class="govuk-body-s"><strong>Date added:</strong> 10 October 2024</p>
      </div>

      <form class="form" action="list.html" method="post">
        <!-- SET STATUS -->
        {{ govukSelect({
          id: "status",
          name: "status",
          label: {
            text: "Property status:"
          },
          hint: {
            text: "The status will be use to generate KPI figures in monthly reports"
          },
          items: [
            {
              value: "validated",
              text: "Validated",
              selected: true
            },
            {
              value: "assessed",
              text: "Assessed"
            },
            {
              value: "started",
              text: "Installation started"
            },
            {
              value: "treated",
              text: "Treated"
            },
            {
              value: "treatedCompleted",
              text: "Completed"
            },
            {
              value: "withdrawn",
              text: "Withdrawn"
            }
          ]
        }) }}

        <!-- BATCH NUMBER -->
        {{ govukInput({
          label: {
            text: "Batch number?"
          },
          classes: "govuk-input--width-10",
          id: "batch-number",
          name: "batchNumber",
          inputmode: "numeric",
          spellcheck: false
        }) }}

        <div class="govuk-!-margin-top-8">
          <h2 class="govuk-heading-m">About the property</h2>

          <!-- ARCHETYPE -->
          {{ govukSelect({
            id: "archetype",
            name: "archetype",
            label: {
              text: "Property archetype:"
            },
            items: [
              {
                value: "choose",
                text: "Choose archetype",
                selected: true
              },
              {
                value: "detached",
                text: "Detached"
              },
              {
                value: "semi-detached",
                text: "Semi-detached"
              },
              {
                value: "end-terrace",
                text: "End-terrace"
              },
              {
                value: "mid-terrace",
                text: "Mid-terrace"
              },
              {
                value: "park-home",
                text: "Park home"
              },
              {
                value: "flat-high",
                text: "Flat - High rise"
              },
              {
                value: "flat-medium",
                text: "Flat - Medium rise"
              },
              {
                value: "flat-low",
                text: "Flat - Low rise"
              },
              {
                value: "other",
                text: "Other"
              }
            ]
          }) }}

          <!-- ON/OFF GAS -->
          {{ govukRadios({
            name: "onOffGas",
            fieldset: {
              legend: {
                text: "On or off the gas grid:"
              }
            },
            items: [
              {
                value: "on-gas-grid",
                text: "On gas grid"
              },
              {
                value: "off-gas-grid",
                text: "Off gas grid"
              }
            ]
          }) }}

          <!-- PRE-INSTALL HEATING FUEL -->
          {{ govukSelect({
            id: "fuel-source",
            name: "fuelSource",
            label: {
              text: "Pre-installation heating fuel source:"
            },
            items: [
              {
                value: "choose",
                text: "Choose heating fuel source",
                selected: true
              },
              {
                value: "coal",
                text: "Coal"
              },
              {
                value: "oil",
                text: "Oil"
              },
              {
                value: "bulk-LPG",
                text: "Bulk LPG"
              },
              {
                value: "bottled-LPG",
                text: "Bottled LPG"
              },
              {
                value: "electricity",
                text: "Electricity"
              },
              {
                value: "biomass",
                text: "Biomass"
              },
              {
                value: "no-heating-system",
                text: "No heating system installed"
              }
            ]
          }) }}
        </div>

        <div class="govuk-!-margin-top-8">
          <h2 class="govuk-heading-m">SAP scores</h2>

          <!-- PRE-INSTALL SAP -->
          {% call govukFieldset({
            legend: {
              text: "Pre-installation SAP",
              classes: "govuk-fieldset__legend--s"
            }
          }) %}

            {{ govukInput({
              label: {
                text: "Score"
              },
              classes: "govuk-input--width-10",
              id: "pre-score",
              name: "preScore",
              autocomplete: "pre-score",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Certificate number"
              },
              id: "pre-certificate-number",
              name: "preCertificateNumber",
              autocomplete: "pre-certificate-number",
              inputmode: "numeric",
              spellcheck: false
            }) }}

          {% endcall %}

          <!-- POST-INSTALL SAP -->
          <!-- SHOULD BE REQUIRED IS THE STATUS IS CHANGED TO 'COMPLETE'-->
          {% call govukFieldset({
            legend: {
              text: "Post-installation SAP",
              classes: "govuk-fieldset__legend--s"
            }
          }) %}

            {{ govukInput({
              label: {
                text: "Score (optional)"
              },
              classes: "govuk-input--width-10",
              id: "post-score",
              name: "postScore",
              autocomplete: "post-score",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Certificate number (optional)"
              },
              id: "post-certificate-number",
              name: "postCertificateNumber",
              autocomplete: "post-certificate-number",
              inputmode: "numeric",
              spellcheck: false
            }) }}

          {% endcall %}

        </div>

        <div class="govuk-!-margin-top-5">
          <h2 class="govuk-heading-m">Occupants and owners</h2>
          
          <!-- OCCUPANT DETAILS-->
          {{ govukInput({
            label: {
              text: "Occupant name:"
            },
            classes: "govuk-input--width-20",
            id: "occupant-name",
            name: "occupantName",
            spellcheck: false
          }) }}

          {{ govukInput({
            label: {
              text: "Occupant email:"
            },
            classes: "govuk-input--width-20",
            id: "occupant-email",
            name: "occupantEmail",
            type: "email",
            spellcheck: false
          }) }}

          {{ govukInput({
            label: {
              text: "Occupant contact number"
            },
            id: "occupant-number",
            name: "occupantNumber",
            type: "tel",
            classes: "govuk-input--width-20"
          }) }}

          <!-- LANDLORD DETAILS-->
          {{ govukInput({
            label: {
              text: "Landlord email:"
            },
            classes: "govuk-input--width-20",
            id: "landlord-email",
            name: "landlordEmail",
            type: "email",
            spellcheck: false
          }) }}

          {{ govukInput({
            label: {
              text: "Landlord contact number"
            },
            id: "landlord-number",
            name: "landlordNumber",
            type: "tel",
            classes: "govuk-input--width-20"
          }) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add property"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
