{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block header %}
{{ govukHeader({
  homepageUrl: "/start.html",
  serviceName: "Report progress on HUG projects",
  serviceUrl: "#",
  navigation: [
    {
      href: "/hug/scheme-home.html",
      text: "Home",
      active: true
    },
    {
        href: "/hug/properties/properties.html",
        text: "Properties"
    },
    {
      href: "/hug/reports/list.html",
      text: "Monthly reports"
    },
    {
      href: "#3",
      text: "Project performance"
    },
    {
        href: "#4",
        text: "Risks"
    },
    {
        href: "#5",
        text: "Project team"
    }
  ]
}) }}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-right-3 govuk-!-padding-left-3">
        {{ govukPhaseBanner({
        tag: {
            text: "Alpha"
        },
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
        }) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>
{% endblock %}